---
import { getCollection } from "astro:content";
import { Picture } from "@astrojs/image/components";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import path from "path";

const staff = [
  {
    name: "Kőrösi Benedek",
    jobTitle: "Okleveles Építészmérnök",
    description: "Az Építészkamara tagja<br>A Mérnökkamar tagja<br>Felelős műszaki vezető",
    pictureName: "korosi-benedek.jpg",
  },
  {
    name: "Cseh-Révész Péter",
    jobTitle: "Építésztechnikus",
    description: "Munkáink koordinátora<br>2009-ben Magasépítő Technikusi oklevelet szerzett",
    pictureName: "cseh-revesz-peter.jpg",
  },
  {
    name: "Cseh-Révész Tina",
    jobTitle: "Enteriőr Dizájn",
    description: "",
    pictureName: "cseh-revesz-tina.jpg",
  },
  {
    name: "Kőrösiné Révész Erika",
    jobTitle: "Iroda",
    description: "Ajánlatok, szerződések, megrendelések tudója, rendzserezője",
    pictureName: "revesz-erika.jpg",
  },
];
const viteImages = import.meta.glob<ImageMetadata>("../assets/staff/*", { import: "default" });
const imageNameToRenderableImageMap = {};
for (const [imgPath, imageFunction] of Object.entries(viteImages)) {
  const imageRenderable = await imageFunction();
  imageNameToRenderableImageMap[path.basename(imgPath)] = imageRenderable;
}
console.log("imageNameToRenderableImageMap", imageNameToRenderableImageMap);
---

<Layout title="About">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Rólunk</Fragment>
    </Sectionhead>
    <div class="flex flex-col gap-3 mx-auto mt-16 text-justify">
      <p>
        Csapatunk tagjai hosszú évek óta együtt dolgoznak, szakmájukat szerető asztalos, lakatos, ács, kőműves, burkoló,
        villany- és vízszerelő munkatársainkat, a nagyfokú rugalmasság és a szakmai tapasztalat jellemzi. Egyedi
        szerkezeteinket a legkiválóbb minőségben készítjük el.
      </p>
      <p>
        Törekszünk a legmodernebb szerszámok, gépek, technológiák, anyagok használatára, szívesen ajánljuk megrendelőink
        figyelmébe a legújabb technikai újdonságokat, szerkezeteket, agyagokat, különleges megoldásokat.
      </p>
      <p>
        A megszerzett tapasztalatok alapján, cégünk profilja időközben kibővült családi házak tervezésével,
        kivitelezésével, felújításával, nyílászárók cseréjével, belsőépítészeti munkákkal, személyre szabott design
        kialakításával.
      </p>

      <p>
        A megálmodott tervekből különleges, egyénre szabott enteriőr készül a költségvetés és a határidők betartásával.
        Fontos számunkra a rugalmasság, a hatékonyság, a stabilitás, megrendelőink kifogástalan kiszolgálása magas
        műszaki színvonalú, egyedileg gyártott fa, alumínium, műanyag profilokból készült termékekkel.
      </p>
      <p>
        Minden kivitelezés legfontosabb része a tervezés. Építészmérnök kollégáink a helyszínen, megrendelőinkkel
        folytatott beszélgetések alapján egyeztetik a megfelelő szerkezeti anyagokat, építészeti lehetőségeket,
        nyílászáró elemeket, a megfelelő árnyékolás lehetőségét.
      </p>
      <p>
        A weboldalunkon látható télikerteket, teraszbeépítéseket, kupolákat, védőtetőket cégünk készítette, azokat -
        előzetes egyeztetés alapján - bármikor meg tudjuk mutatni, beszélve a tulajdonosok több éves tapasztalatairól
        is.
      </p>
    </div>
    <div class="mt-16">
      <div class="mx-auto max-w-4xl">
        <h2 class="font-bold text-3xl">Csapatunk</h2>
      </div>
      <div class="grid md:grid-cols-4 gap-10 mx-auto mt-12">
        {
          staff.map((staffItem) => (
            <div class="group">
              <div class="w-full">
                <Picture
                  src={imageNameToRenderableImageMap[staffItem.pictureName]}
                  alt={staffItem.pictureName}
                  sizes="(max-width: 800px) 100vw, 400px"
                  widths={[200, 400]}
                  aspectRatio="3:2"
                  fit="cover"
                  position="center"
                  class="w-full rounded-md transition group-hover:-translate-y-1 group-hover:shadow-xl"
                />
              </div>
              <div class="mt-4 text-center">
                <h2 class="text-lg text-gray-800">{staffItem.name}</h2>
                <h3 class="text-sm text-slate-500">{staffItem.jobTitle}</h3>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </Container>
</Layout>
