---
import Container from "../components/container.astro";
import Sectionhead from "../components/sectionhead.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Adatkezelés" description="Beridoor Kft által végzett adatkezelési tájékoztató.">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Adatkezelés</Fragment>
      <Fragment slot="desc">Adatkezelési tájékoztató a Beridoor Kft által végzett adatkezeléshez</Fragment>
    </Sectionhead>
    <ol class="list-decimal mx-auto max-w-4xl mt-16 flex flex-col gap-5">
      <li>
        <h3 class="text-lg">Az Adatkezelő megnevezése</h3>
        <div class="grid grid-cols-2 gap-2 max-w-xl mt-3">
          {
            Object.entries({
              Adatkezelő: "BERIDOOR KFT",
              Székhely: "2085 Pilisvörösvár, Budai út 7167/6",
              Postacím: "2083 Solymár, Erdő u. 8.",
              "E-mail": "beridoorkft@gmail.com",
              Telefon: "+36 30 931 4070",
            }).map(([key, value]) => (
              <>
                <div class="flex items-center space-x-2 ">{key}</div>
                <div class="space-x-2">{value}</div>
              </>
            ))
          }
        </div>
      </li>
      <li>
        <h3 class="text-lg my-2">Az adatkezelés jogalapja</h3>
        <ul class="list-disc">
          <li>
            Az Európai Parlament és a Tanács (EU) 2016/679 Rendelete (2016. április 27.) a természetes személyeknek a
            személyes adatok kezelése tekintetében történő védelméről és az ilyen adatok szabad áramlásáról, valamint a
            95/46/EK irányelv hatályon kívül helyezéséről (általános adatvédelmi rendelet) (a továbbiakban: GDPR)
          </li>
          <li>
            Az információs önrendelkezési jogról és az információszabadságról szóló 2011. évi CXII. törvény (a
            továbbiakban: Infotv.)
          </li>
          <li>Az érintett hozzájárulása</li>
        </ul>
      </li>
      <li>
        <h3 class="text-lg my-2">A kezelt adatok köre, célja, időtartama</h3>
        <ul class="list-disc">
          <li>
            A Honlapon az érdeklődőnek meg kell adnia alábbi adatokat: Név, Telefonszám, E-mail, Szerelés helyszíne
          </li>
          <li>
            A szerkezetek rendeléséhez megrendelőnek meg kell adnia alábbi adatokat: Név, Telefonszám, E-mail, Cégnév,
            Adószám, Számlacím, Szállítási cím
          </li>
          <li>
            Az adatkezelés időtartama: az Adatkezelő az általa kezelt adatokat - az érintett hozzájárulása esetén - a
            konkrét adatkezelésre vonatkozó adatkezelési tájékoztatóban rögzített ideig kezeli.
          </li>
        </ul>
      </li>
      <li>
        <h3 class="text-lg my-2">Az adatokhoz való hozzáférés és az adatbiztonsági intézkedések</h3>
        <ul class="list-disc">
          <li>
            A személyes adatokhoz kizárólag a Beridoor Kft, mint Adatkezelő alkalmazottai férhetnek hozzá, jogszabályi
            felhatalmazás alapján, a szolgáltatás nyújtására irányuló szerződésből származó díjak számlázása céljából
            kezelheti a természetes személyazonosító adatokat, lakcímet, valamint a szolgáltatás igénybevételének
            időpontjára, időtartamára és helyére vonatkozó adatokat
          </li>
          <li>
            Az automatikusan rögzítésre kerülő adatok célja statisztikakészítés, az informatikai rendszer technikai
            fejlesztése, a Felhasználók jogainak védelme
          </li>
          <li>
            Az Adatkezelő a megadott személyes adatokat az e pontokban leírt céloktól eltérő célokra nem használja fel.
            Személyes adatok harmadik személynek, vagy hatóságok számára történő kiadása – jogszabály eltérő
            rendelkezése hiányában – kizárólag a Felhasználó előzetes, kifejezett hozzájárulása esetén lehetséges
          </li>
          <li>
            A Weboldal szolgáltatásainak használata során megadott személyes adatok kezelése a szolgáltatás nyújtására
            irányuló szerződés megszüntetéséig tart, vagy ameddig a Felhasználó nem kéri adatainak törlését
          </li>
          <li>
            Fenti rendelkezések nem érintik a jogszabályokban (pl. számviteli jogszabályokban) meghatározott megőrzési
            kötelezettségek teljesítését
          </li>
          <li>
            Az Adatkezelő gondoskodik a személyes adatok biztonságáról, megteszi továbbá azokat a technikai és
            szervezési intézkedéseket és kialakítja azokat az eljárási szabályokat, amelyek az Infotv., valamint egyéb
            adat- és titokvédelmi szabályok érvényre juttatásához szükségesek
          </li>
          <li>
            Az Adatkezelő a személyes adatokat védi, különösen a jogosulatlan hozzáférés, megváltoztatás, továbbítás,
            nyilvánosságra hozatal, törlés vagy megsemmisítés, valamint a véletlen megsemmisülés vagy sérülés ellen
          </li>
          <li>
            Az Adatkezelő internetes honlapján történő adatátvitelkor az úgynevezett SSL (Secure Socket Layer)
            biztonságtechnikai eljárás kerül alkalmazásra, amely kódolt adatátvitelt és magas szintű adatbiztonságot
            nyújt
          </li>
        </ul>
      </li>
      <li>
        <h3 class="text-lg my-2">Személyes adatok továbbítása és feldolgozása</h3>
        <ul class="list-disc">
          <li>
            A Felhasználóra vonatkozó személyes adatok továbbítására kizárólag törvényben kötelezően meghatározott
            esetben, illetve a Felhasználó kifejezett hozzájárulása alapján kerülhet sor
          </li>
          <li>
            A Weboldal szolgáltatásainak használata során az Adatkezelő a következő adatfeldolgozót veszi igénybe:
            Tárhelyszolgáltató: <a href="https://netlify.com">netlify.com</a>
          </li>
        </ul>
      </li>
      <li>
        <h3 class="text-lg my-2">Az adatkezeléssel kapcsolatos érintetti jogok</h3>
        <ul class="list-disc">
          <li>
            Az érintett jogosult arra, hogy az 1. pontban megadott elérhetőségeken keresztül az Adatkezelő-től
            tájékoztatást kérjen arra vonatkozóan, hogy személyes adatainak kezelése folyamatban van-e, és ha ilyen
            adatkezelés folyamatban van, jogosult arra, hogy megismerje azt, hogy az Adatkezelő milyen személyes
            adatait, milyen jogalapon, milyen adatkezelési céllal, mennyi ideig kezeli, továbbá, hogy az Adatkezelő
            kinek, mikor, milyen jogszabály alapján, mely személyes adataihoz biztosított hozzáférést vagy kinek
            továbbította a személyes adatait
          </li>
          <li>
            Az adatbiztonsági követelmények teljesülése és az érintett jogainak védelme érdekében az Adatkezelő köteles
            meggyőződni az érintett és a hozzáférési jogával élni kívánó személy személyazonosságának egyezéséről, ennek
            érdekében a tájékoztatás az érintett személyének azonosításához kötött
          </li>
          <li>
            Az érintett személy - az 1. pontban megadott elérhetőségeken keresztül - írásban kérheti, hogy az Adatkezelő
            módosítsa valamely személyes adatát. Az Adatkezelő kérelmet legfeljebb egy hónapon belül teljesíti, és erről
            az érintettet az általa megadott elérhetőségen értesíti
          </li>
          <li>
            A Felhasználó jogosult személyes adatainak törlését kérni. A törlés nem vonatkozik a jogszabályok (pl.
            számviteli szabályozás) alapján szükséges adatkezelésekre, azokat Szolgáltató a szükséges időtartamig
            megőrzi. Ezen kívül, a Felhasználó bármikor korlátozás és indoklás nélkül leiratkozhat bármely marketing
            célú megkeresésről a levél alján található link segítségével
          </li>
        </ul>
      </li>
      <li>
        <h3 class="text-lg my-2">Az adatkezeléssel kapcsolatos jogérvényesítés</h3>
        <ul class="list-disc">
          <li>
            Ha az érintett úgy ítéli meg, hogy az Adatkezelő a személyes adatainak kezelése során megsértette a hatályos
            adatvédelmi követelményeket, akkor panaszt nyújthat be a Nemzeti Adatvédelmi és Információszabadság
            Hatósághoz (1055 Budapest, Falk Miksa utca 9-11 postacím: 1374 Budapest, Pf. 603., honlap: www.naih.hu
            e-mail: ugyfelszolgalat@naih.hu,).
          </li>
        </ul>
      </li>
      <li>
        <h3 class="text-lg my-2">Záró rendelkezések</h3>
        <ul class="list-disc">
          <li>
            Az Adatkezelő kötelezi magát, hogy gondoskodik az általa kezelt személyes adatok biztonságáról, megteszi
            azokat a technikai intézkedéseket, amelyek biztosítják, hogy a felvett, tárolt, illetve kezelt adatok
            védettek legyenek, illetőleg mindent megtesz annak érdekében, hogy megakadályozza azok megsemmisülését,
            jogosulatlan felhasználását és jogosulatlan megváltoztatását
          </li>
          <li>
            Az Adatkezelő fenntartja a jogot, hogy jelen nyilatkozatot a Felhasználók értesítése mellett egyoldalúan
            módosítsa. Az Adatkezelő jelen adatvédelmi nyilatkozat módosításairól szóló tájékoztatást közzéteszi a
            Weboldalon. A módosítás hatályba lépését követően a Felhasználó a szolgáltatás használatával, ráutaló
            magatartással tudomásul veszi a módosított nyilatkozatban foglaltakat
          </li>
        </ul>
      </li>
    </ol>
  </Container>
</Layout>
