---
import { Icon } from "astro-icon";
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Sectionhead from "@components/sectionhead.astro";
import Contactform from "@components/contactform.astro";

const phoneNumbers = [
  {name: 'Kőrösi Benedek', number: '+36 20 931 4070'},
  {name: 'Kőrösiné Révész Erika', number: '+36 30 931 4070'},
  {name: 'Cseh-Révész Péter', number: '+36 20 2050 956'},
  {name: 'Cseh-Révész Tina', number: '+36 20 4929 969'},
]
---

<Layout title="Contact">
  <Container>
    <Sectionhead>
      <Fragment slot="title">Kapcsolat</Fragment>
      <Fragment slot="desc">Várjuk ajánlatkérését</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <div class="mt-5">
          <div class="flex items-center mt-3 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <a href=>Beridoor Kft. 2085 Pilisvörösvár, Budai út 7167/6</a>
          </div>
          <div class="flex items-center mt-3 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:beridoor@gmail.com"
              >beridoor@gmail.com</a
            >
          </div>
          <div class="grid md:grid-cols-2 gap-3 mx-auto max-w-4xl mt-3">
            {phoneNumbers.map(({name, number})=> (

                  <div class="flex items-center space-x-2 text-gray-600">
                    <Icon class="text-gray-400 w-4 h-4" name="uil:phone" />
                    <span>{name}</span>
                  </div>
                  <div class="space-x-2">
                    <a href={`tel:${number}`}>{number}</a>
                  </div>
            ))}
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
