---
import Container from "../components/container.astro";
import Button from "../components/ui/button.astro";
import FilterScript from "@components/scripts/basic-filter.astro";
import Layout from "../layouts/Layout.astro";
import FilterableEntry from "../components/filterable-entry.astro";

const items = {
  // key and id field needs to be the same
  design: {
    label: "Design",
    id: "design",
    html: `
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt accusamus, animi sunt illum quibusdam in,
          laborum culpa eius voluptatum, nisi delectus impedit voluptatibus eaque? Asperiores voluptatum eaque ad ex
          maiores ullam tenetur, ipsa, laborum voluptatem distinctio eum quos sapiente facilis optio vel repellat,
          dolores similique iste voluptates pariatur! Possimus, nam.
        </p>`,
  },
  lakasbovites: {
    label: "Lakásbővítés",
    id: "lakasbovites",
    html: `
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt accusamus, animi sunt illum quibusdam in,
          laborum culpa eius voluptatum, nisi delectus impedit voluptatibus eaque? Asperiores voluptatum eaque ad ex
          maiores ullam tenetur, ipsa, laborum voluptatem distinctio eum quos sapiente facilis optio vel repellat,
          dolores similique iste voluptates pariatur! Possimus, nam.
        </p>`,
  },
};
---

<FilterableEntry items={items} />
