---
import path from "path";
import SingleEntryWithPictures from "../components/single-entry-with-pictures.astro";

const textHtml = `
  <p>
    A nap kellemetlen hatásait kiküszöbölhetjük külső- és belső oldali árnyékolással, redőny, zsalúzia, roló, reluxa, szalagfüggöny, roletta, napvitorla felszerelésével.
  </p>
  <p>
    A szabadon álló, hangulatvilágítással felszerelt, asztallal, padokkal, székekkel berendezett pergola, filagória, pavilon kiváló védelmet biztosít a napsugárzás és az időjárás egyéb viszontagságai ellen.
  </p>
  <p>
    Futónövények felfuttatásával meglepően hatékony árnyékolást érhetünk el, akár egy kocsibeálló esetében is.
  </p>`

// workaround for dynamic image imports: https://github.com/withastro/astro/issues/3373#issuecomment-1214245870
const viteImages = import.meta.glob<ImageMetadata>("../assets/portfolio/napvedelem/*", { import: "default" });
const imagesRenderable: {
  imageRenderable: any;
  alt: string;
  projectType: string;
  pathFromProjectRoot: string;
}[] = [];
for (const [imgPath, imageFunction] of Object.entries(viteImages)) {
  const projectTypePath = path.dirname(imgPath);
  const projectType = path.basename(projectTypePath);
  const imageRenderable = await imageFunction();
  imagesRenderable.push({
    imageRenderable,
    projectType,
    pathFromProjectRoot: imgPath.replace("../", "src/"),
    alt: path.parse(imgPath).name.slice(4).replaceAll('_', ' '),
  });
}
---

<SingleEntryWithPictures textHtml={textHtml} imagesRenderable={imagesRenderable} title="Árnyékolás - Napvédelem" description="Védekezzen a nap ereje ellen a Beridoor Kft által épített árnyékolási berendezésekkel" />
