<div class="glide">
  <div class="glide__track" data-glide-el="track">
    <div class="glide__slides">
      <div class="glide__slide">0</div>
      <div class="glide__slide">1</div>
      <div class="glide__slide">2</div>
    </div>
  </div>
</div>

<!-- Required Core Stylesheet -->
<link rel="stylesheet" href="node_modules/@glidejs/glide/dist/css/glide.core.min.css">

<script>
import Glide from '@glidejs/glide'

new Glide('.glide').mount()
</script>