---
const { title, children, classList } = Astro.props;
import DropdownArrow from "./dropdown-arrow.astro";
---

<div class="dropdown dropdown-hover">
  <label tabindex="0" class:list={[...classList, "items-center gap-1 w-full lg:w-auto lg:px-3 py-2"]}
    >{title}<DropdownArrow /></label
  >
  <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
    {
      children.map((item) => (
        <a href={item.path} class="py-1 text-gray-600 hover:text-gray-900">
          {item.title}
        </a>
      ))
    }
  </ul>
</div>
