---
import logoImage from "assets/logo-new-cropped-3.png";
import { Image, Picture } from "@astrojs/image/components";
export interface Props {
  width: number;
  isInvisible?: boolean;
}
const { width, isInvisible } = Astro.props;
const invisible = isInvisible ? "invisible": ""
---
<a href="/" class=`${invisible}`>
  <Picture src={logoImage} alt="logo" loading="eager" sizes={`${width}px`} formats={["avif", "webp"]} widths={[width]} aspectRatio={16/9} />
</a>
