---
import { Image, Picture } from "@astrojs/image/components";
import '../styles/blaze-slider.css'
import { Icon } from 'astro-icon';
const { images } = Astro.props;
---

<div class="blaze-slider">
  <div class="blaze-container">
    <div class="blaze-track-container">
      <div class="blaze-track">
        {images.map((item, iterCount) => (
            <Picture src={item.src} alt={item.alt} loading="eager" format="avif" widths={[400,800,1600]} sizes="(max-width: 1600px) 100vw, 1600px" aspectRatio="3:2"/>
        ))}
      </div>
    </div>

  </div>
  <!-- navigation buttons -->
  <div class="flex align-center gap-6 justify-center py-8">
      <button class="blaze-prev rotate-180" id="blaze-prev">
        <div class="w-6">
          <Icon class="hover:bg-slate-100 rounded-xl" name="right-arrow"/>
        </div>
      </button>
      <!-- pagination container -->
      <div class="blaze-pagination"></div>
      <button class="blaze-next" id="blaze-next">
        <div class="w-6">
          <Icon class="hover:bg-slate-100 rounded-xl" name="right-arrow"/>
        </div>
      </button>
  </div>
</div>

<script>
    import BlazeSlider from 'blaze-slider'
    import 'blaze-slider/dist/blaze.css'
    const el = document.querySelector('.blaze-slider') as HTMLElement
    const slider = new BlazeSlider(el, {
      all: {
          stopAutoplayOnInteraction: true,
          enableAutoplay: true,
          autoplayInterval: 4500,
          transitionDuration: 700,
          slidesToShow: 1,
      },
    })

</script>