---
import { Image, Picture } from "@astrojs/image/components";
import "../styles/blaze-slider.css";
import { Icon } from "astro-icon";
interface Props {
  images: { imageRenderable: any; alt: string; mainText: string }[];
}
const { images } = Astro.props;
---

<div class="blaze-slider">
  <div class="blaze-container">
    <div class="relative ease-in blaze-track-container">
      <div class="blaze-track object-cover">
        {
          images.map((image, iterCount) => (
            <div class="inline-block rounded-none overflow-hidden bg-cover bg-center relative w-full h-[calc(100vh-86px)]">
              <Picture
                src={image.imageRenderable}
                alt={image.alt}
                widths={[300, 600, 1000, 1600]}
                loading={'lazy'}
                aspectRatio="4:3"
                sizes="(min-width: 300px) 600px, (min-width: 600px) 1000px, (min-width: 1000px) 1600px, 300px"
                format="avif"
                fit="cover"
                position="center"
                class="-z-10 pointer-events-none absolute w-full, h-full object-cover min-w-full min-h-full bg-cover bg-no-repeat"
              />
              <p class="mx-8 outlineText text-white text-4xl md:text-5xl lg:text-6xl 2xl:text-8xl 3xl:text-9xl text-center align-middle">
                {image.mainText}
              </p>
            </div>
          ))
        }
      </div>
      <div class="top-[calc(((100vh-86px)/2)-12px)] left-0 mx-2 md:mx-7 absolute">
        <button class="blaze-prev rotate-[270deg]" id="blaze-prev">
          <div class="w-6">
            <Icon class="bg-white text-beridoorBlue rounded-xl" name="fe:arrow-up" />
          </div>
        </button>
      </div>
      <div class="right-[50vh] left-[50vh] top-[calc(95vh-86px)] blaze-pagination absolute"></div>

      <div class="top-[calc(((100vh-86px)/2)-12px)]  right-0 mx-2 md:mx-7 absolute">
        <button class="blaze-next rotate-90" id="blaze-next">
          <div class="w-6">
            <Icon class="bg-white text-beridoorBlue rounded-xl" name="fe:arrow-up" />
          </div>
        </button>
      </div>
    </div>
  </div>
</div>


<script>
  import BlazeSlider from "blaze-slider";
  import "blaze-slider/dist/blaze.css";

  const el = document.querySelector(".blaze-slider") as HTMLElement;
  const slider = new BlazeSlider(el, {
    all: {
      stopAutoplayOnInteraction: true,
      enableAutoplay: true,
      autoplayInterval: 4500,
      transitionDuration: 700,
      slidesToShow: 1,
    },
  });
  slider.stopAutoplay() // stopping auto play until first image loads
  document.addEventListener('DOMContentLoaded', () => {
    slider.onSlide(() => {
      preloadNext(1)
    })
  });

  window.addEventListener('load', async () => {
    await Promise.all([Array.from(document.images)[0]].filter(img => !img.complete).map(img => new Promise(resolve => { img.onload = img.onerror = resolve; }))); // wait for first image to load
    preloadNext(1);
    slider.refresh(); // start auto play
  });

  const preloadNext = (n) => {
      Array.from(slider.slides)
          .slice(0, n + 1)
          .map(slide => slide.querySelector('img'))
          .forEach(s => s?.setAttribute('loading', 'eager'));
  };
</script>

<style>
.outlineText {
  -webkit-text-stroke-color: #143143;
  @media (min-width: 10px) {
    -webkit-text-stroke-width: 1px;
  }
  @media (min-width: 1024px) {
    -webkit-text-stroke-width: 2px;
  }
  @media (min-width: 1536px) {
    -webkit-text-stroke-width: 3px;
  };
}
</style>