---
// @ts-ignore

import { Icon } from "astro-icon";

const features = [
  {
    title: "25 év szakmai tapasztalat",
    description:
      "Az évek során csapatunk rengeteg különleges kéréssel, egyedi megrendeléssel nézett szembe, aminek köszönhetően szakmai tapasztalatunk páratlan.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Személyre szabott kialakítás",
    description:
      "A környezet adottságait figyelembe véve készítjük el a megrendelt szerkezeteket, nem egy adott \"rendszert\" értékesítünk.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Változatos anyag - és színhasználat",
    description:
      "Fa, acél, alumínium, műanyag, polikarbonát és üveg különféle színekben az esztétikai összhang és az időtállóság elérése érdekében.",
    icon: "i-beam",
  },
  {
    title: "Teljeskörű kivitelezés",
    description:
      "A felméréstől kezdve intézzük a megrendelés minden részletét, amelybe beletartozik a tervezés, - igény esetén látványtervezés, lakberendezés - a szerkezet kivitelezése, árnyékolása.",
    icon: "completed-solid",
  },
  {
    title: "Megbízható szakemberek",
    description:
      "Hosszú évek óta ugyanazzal a csapattal dolgozunk, akik értik a szakma minden aspektusát. Ennek köszönhetően nem ér váratlan meglepetés a kivitelezés során.",
    icon: "mdi:construction",
  },
  {
    title: "Modern technológiák",
    description:
      "Lépést tartanunk a technológiai fejlesztésekkel és trendekkel, ezeket mindig a megrendelőink figyelmébe is ajánljuk. Segítünk az egyedi design kialakításában.",
    icon: "graph-new-up-outline",
  },
];
---
<div class="grid sm:grid-cols-2 md:grid-cols-3 gap-8">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="dark:bg-white bg-beridoorBlue rounded-full p-1 w-8 h-8 shrink-0">
          <Icon class="dark:text-beridoorBlue text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="dark:text-beridoorDarkModeSecondaryText text-beridoorLightModeSecondaryText mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
