---
// @ts-ignore

import { Icon } from "astro-icon";

const features = [
  {
    title: "25 év szakmai tapasztalat",
    description:
      "Az évek során csapatunk rengeteg különleges kéréssel, egyedi megrendeléssel nézett szembe, aminek köszönhetően szakmai tapasztalatunk páratlan.",
    icon: "bx:bxs-briefcase",
  },
  {
    title: "Személyre szabott kialakítás",
    description:
      "Mindig a megrendelő igényei a legfontosabbak számunkra. Mindent megteszünk, hogy az adott hely és környezet adottságait figyelembe véve készítsük el a megrendelést.",
    icon: "bx:bxs-window-alt",
  },
  {
    title: "Változatos anyag és színhasználat",
    description:
      "Fa, acél és alumínium különféle színekben az esztétikai összang és az időtállóság elérése érdekében.",
    icon: "i-beam",
  },
  {
    title: "Teljeskörű kivitelezés",
    description:
      "A felméréstől kezdve csapatunk intézi a megrendelés minden részletét, amelybe beletartozik a tervezés, - igény esetén látványtervezés - a szerkezet kivitelezése, árnyékolása.",
    icon: "completed-solid",
  },
  {
    title: "Megbízható szakemberek, összeszokott csapat",
    description:
      "Hosszú évek óta ugyanazzal a csapattal dolgozunk, akik értik a szakma minden aspektusát. Ennek köszönhetően nem ér váratlan meglepetés a kivitelezés közben.",
    icon: "mdi:construction",
  },
  {
    title: "Modern technológiák",
    description:
      "Lépést tartanunk az új technológiákkal és trendekkel, ezeket mindig a megrendelő figyelmébe is ajánljuk.",
    icon: "graph-new-up-outline",
  },
];
---
<div class="grid sm:grid-cols-2 md:grid-cols-3 mt-6 gap-16">
  {
    features.map((item) => (
      <div class="flex gap-4 items-start">
        <div class="mt-1 bg-beridoorBlue rounded-full p-2 w-8 h-8 shrink-0">
          <Icon class="text-white" name={item.icon} />
        </div>
        <div>
          <h3 class="font-semibold text-lg">{item.title}</h3>{" "}
          <p class="text-slate-500 mt-2 leading-relaxed">{item.description}</p>
        </div>
      </div>
    ))
  }
</div>
