---
import Logo from "./navbar/Logo.astro"
---
<footer class="mt-20 bg-beridoorBlue">
  <div class="grid grid-cols-8 justify-center pt-8 mx-6">

    <div class="col-span-1">
      <Logo width={150}/>
    </div>

    <div class="col-span-2 mx-auto flex justify-center align-middle items-center">
      <p class="text-lg text-slate-100 leading-6">
        SZAKÉRTELEM - PRECIZITÁS - RUGALMASSÁG
      </p>
    </div>
    <div class="col-span-2 mx-auto flex justify-center align-middle items-center">
      <a href="/contact">
        <p class="text-lg text-slate-100 leading-6">AJÁNLATKÉRÉS</p>
      </a>
    </div>
    <div class="text-right flex justify-end align-middle items-center gap-3 col-span-3">
      <p class="text-lg text-slate-100">LÉPJEN VELÜNK KAPCSOLATBA:</p>
      <p class="text-lg text-slate-100">
        <a class="text-right text-lg text-slate-100 my-1" href="tel:+36 30 931 4070">+36 30 931 4070</a>
      </p>
      <p class="text-lg text-slate-100">
        <a href="mailto:beridoor@gmail.com">beridoor@gmail.com</a>
      </p>
    </div>
  </div>
  <div class="mt-8">
    <p class="text-center mx-2 text-sm text-slate-400 py-2">
      Télikert - Erkély és teraszbeépítés – Növényház – Veranda – Szélfogó - Medence-Pezsgőfürdő Fedés – Pincebevilágító
      – Kupola – Filagória – Pavilon – Pergola – Függönyfal - Elő- És Védőtető - Étterem kerthelyiségeinek teraszainak
      védelme – Átriumok udvarok lefedése – Sportlétesítmények - Oktatási intézmények – Termálfürdők – Gyárépületek
    </p>
  </div>
</footer>
