---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import BlazeSlider from "./blaze-slider.astro";
import path from "path";

// workaround for dynamic image imports: https://github.com/withastro/astro/issues/3373#issuecomment-1214245870
const viteImages = import.meta.glob<ImageMetadata>("../assets/fooldal/*", { import: "default" });
const imagesRenderable: { imageRenderable: any; alt: string; mainText: string; pathFromProjectRoot: string }[] = [];

for (const [imgPath, imageFunction] of Object.entries(viteImages)) {
  const imageRenderable = await imageFunction();
  const ext = path.extname(imgPath);
  imagesRenderable.push({
    imageRenderable,
    alt: path.basename(imgPath),
    pathFromProjectRoot: imgPath.replace("../", "src/"),
    mainText: path.basename(imgPath, ext).slice(4),
  });
}
---

<BlazeSlider images={imagesRenderable} />
<main class="grid place-items-center pt-16 pb-8 md:pt-12 md:pb-20">
  <div>
    <h1 class="text-xl lg:text-2xl xl:text-3xl font-bold text-center lg:tracking-tight xl:tracking-tighter my-6">
      TÉLIKERTEK ÉPÍTÉSE EGYÉNI IGÉNYEK SZERINT
    </h1>
    <p
      class="texl-lg lg:text-xl mt-4 text-center py-6 dark:text-beridoorDarkModeSecondaryText text-beridoorLightModeSecondaryText">
      Egyedi kialakítású alumínium-, fa-, műanyag-, polikarbonát-, üveg szerkezetek, családi házak tervezése, kivitelezése,
      lakások bővítése, felújítása, látványterv készítése
    </p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl"></p>
    <div class="mt-6 mx-4 flex flex-col justify-center sm:flex-row gap-3">
      <Link size="lg" href="/termekek" style="outline" class="flex gap-1 items-center justify-center">
        <Icon class="text-beridoorBlue w-5 h-5" name="icon-park-outline:building-one" />
        Munkáink
      </Link>
      <Link size="lg" style="outline" href="/kapcsolat" class="flex gap-2 items-center justify-center">
        <Icon class="text-beridoorBlue w-5 h-5" name="mdi:contact-mail" />
        Ajánlatkérés
      </Link>
    </div>
  </div>
</main>
