---
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon";
import BlazeSlider from "./blaze-slider.astro";
import path from "path";

// workaround for dynamic image imports: https://github.com/withastro/astro/issues/3373#issuecomment-1214245870
const viteImages = import.meta.glob<ImageMetadata>("../assets/main-page-carousel-pictures/*", { import: "default" });
const imagesRenderable: { imageRenderable: any; alt: string }[] = [];
for (const [imgPath, imageFunction] of Object.entries(viteImages)) {
  const imageRenderable = (await imageFunction());
  imagesRenderable.push({ imageRenderable, alt: path.basename(imgPath) });
}
---

<main class="grid place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div>
    <h1 class="text-1xl lg:text-3xl xl:text-4xl font-bold text-center lg:tracking-tight xl:tracking-tighter">
      Télikertek építése egyedi igények szerint
    </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl"></p>
    <div class="mt-6 flex flex-col justify-center sm:flex-row gap-3">
      <Link size="lg" href="/portfolio" style="outline" class="flex gap-1 items-center justify-center">
        <Icon class="text-beridoorBlue w-5 h-5" name="icon-park-outline:building-one" />

        Munkáink
      </Link>
      <Link size="lg" style="primary" href="/contact" class="flex gap-1 items-center justify-center">
        <Icon class="text-white w-5 h-5" name="mdi:contact-mail" />
        Ajánlatkérés
      </Link>
    </div>
  </div>
</main>
<BlazeSlider images={imagesRenderable} />
